* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #000;
    color: yellow;
    padding: 20px;
    text-align: center;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 25px;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;

}

#image {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 350px;
    border-radius: 2%;
}

figure,
.img {
    margin: auto;
    width: 100%;
    max-width: 350px;
}

figcaption {
    color: #3d0c03;
    font-size: small;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

figure {
    padding-top: 15px;
    padding-bottom: 15px;
}

#head {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    margin-top: 20px;
    color: #f9f9f9;
}

.bio-text {
    margin: 40px 90px;
    text-align: justify;
    font-size: 20px;
    color: #000;
    background-color: #e6bf83;
    padding: 20px;
    padding-left: 35px;
}

li {
    padding-top: 15px;
    padding-bottom: 15px;
}

span {
    color: darkred;
    font-weight: bold;
}

#hr {
    border: 2px solid darkred;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #000;
    color: yellow;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
    .bio-text {
        margin: 50px 65px;
        text-align: justify;
    }
}

@media screen and (min-device-width:768px) and (max-device-width: 1024px) {
    .bio-text {
        margin: 45px 45px;
        text-align: justify;
    }
}

@media screen and (max-device-width: 640px) {
    .bio-text {
        margin: 50px 25px;
        text-align: justify;
    }
}